.page-not-found {
  align-items: center;
  background: linear-gradient(289deg, #003be5 -3.32%, #00D5E2 72.67%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.page-not-found_container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
  z-index: 999;
}

.page-not-found_title {
  color: #02217e;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 2.445px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

.page-not-found_description {
  color: #00D5E2;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.734px;
  line-height: 32px;
  max-width: 280px;
  width: 80%;
}

.page-not-found_background-pattern {
  height: 100%;
  object-fit:cover;
  position: absolute;
  width: 100%;
  z-index: 2 !important;
}
